{% extends "invester/base.html" %}
{% load staticfiles %}
{% block title %} Aviral::New Invester {% endblock %}
{% block invester_content %}
        <div class="layout-content-body">          
          <div class="text-center m-b">
            <h3 class="m-b-0">Invester Detail with search</h3>
            <small>Please try to write any piece of text from the information in the following table.</small>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table id="demo-dynamic-tables-2" class="table table-middle nowrap">
                      <thead>
                        <tr>
                          <th>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </th>
                          <th>InvesterId</th>
                          <th>Invester Name</th>
                          <th>Father Name</th>
                          <th>Address</th>
                          <th>City</th>
                          <th>Contact</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for inv in investerList %}
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>

                          <td data-order="{{inv.userName.username}}">
                            <strong class="label label-info label-pill">{{inv.userName.username}}</strong>
                          </td>

                          <td class="maw-320">
                            <span class="truncate">{{inv.investerName}}</span>
                          </td>

                          <td>{{inv.fatherName}}</td>

                          <td data-order="1">
                            <span>{{inv.address1}} {{inv.address2}} {{inv.address3}}</span>
                          </td>

                          <td data-order="3">{{inv.city}}</td>

                          <td data-order="1">{{inv.contactno}}</td>

                          <td>
                            <div class="btn-group pull-right dropdown">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Full Detail</a></li>
                                <li><a href="#">Hide Invester</a></li>
                              </ul>
                            </div>
                          </td>
                        {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}