{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%block title%} Aviral Green {%endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="{% static 'css/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elephant.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/application.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
  </head>
  <body class="layout layout-header-fixed layout-sidebar-fixed">
    <div class="layout-header">

      {% include "header.html" %}
      
    </div>
    <div class="layout-main">

      {% include "sideMenu.html" %}

      <div class="layout-content">
      {% block site_content %}

      {% endblock %}
      
      {% include "footer.html" %}
      </div>
    </div>
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/elephant.min.js' %}"></script>
    <script src="{% static 'js/application.min.js' %}"></script>
    <script src="{% static 'js/demo.min.js' %}"></script>  </body>
    <script src="{% static 'js/custom.js' %}"></script>  </body>
  </body>
</html>